.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.gallery img {
  max-width: 200px;
  height: auto;
  border: 2px solid var(--marrom-escuro);
  border-radius: 8px;
  transition: transform 0.2s;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* Restante do CSS */
:root {
  --terracota: #E07A5F;
  --verde-oliva: #9EAD7F;
  --bege-claro: #F3EED9;
  --marrom-escuro: #4A3F35;
  --azul-ceu: #87B6A7;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bege-claro);
  color: var(--marrom-escuro);
  margin: 0;
  padding: 0;
}

header {
  font-family: Apple Chancery, cursive;
  background-color: var(--terracota);
  color: var(--bege-claro);
  text-align: center;
  padding: 1rem 0;
}

nav {
  background-color: var(--verde-oliva);
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: var(--bege-claro);
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

footer {
  background-color: var(--terracota);
  color: var(--bege-claro);
  text-align: center;
  padding: 1rem 0;
}

/* Adicionando um pouco de estilização aos links */
a:hover {
  color: var(--azul-ceu);
}
main{
  width: 60%;
}