:root {
  --terracota: #FFA02E;
  --verde-oliva: #9EAD7F;
  --bege-claro: #F3EED9;
  --marrom-escuro: #4A3F35;
  --azul-ceu: #87B6A7;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bege-claro);
  color: var(--marrom-escuro);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--terracota);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
}

header img {
  width: 40%;
  max-width: 600px;
}

/* Título responsivo */
header h1 {
  font-family: 'Apple Chancery', cursive;
  color: var(--marrom-escuro);
  font-size: 2vw; /* Alterado de 2rem para 2vw */
  margin: 0;
  flex-grow: 1;
  text-align: center;
  padding-right: 10%;
}

/* Media query para ajustar o tamanho da fonte em telas menores */
@media (max-width: 600px) {
  header h1 {
    font-size: 4vw; /* Ajusta o tamanho da fonte para telas menores */
  }
}


nav {
  background-color: #964b00;
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

footer {
  background-color: var(--terracota);
  color: var(--bege-claro);
  text-align: center;
  padding: 1rem 0;
}

/* Adicionando um pouco de estilização aos links */
a:hover {
  color: var(--azul-ceu);
}

main {
  width: 60%;
  margin: 0 auto;
}
